.col{

    background-color: lightgreen;
    border: 1px solid transparent;
    padding: 10px;
    color: white;
}
.col-3{
 height: 150px;
line-height: 100px;

} .col-4{
 height: 300px;

} .col-6{

    height: 100px;
    
}